<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/stylesheet_movie.css">
	<title>Movie Review</title>
</head>
<body>
	<br>
	<br>
		<h1>Movie  Analysis</h1>
	<br>

    <form action='/analysis' method='post'>
		<input type="text" name="name" placeholder="The Name Of The Movie" required="required" />
		<input type="text" name="review" placeholder="What Do You Think About The Movie" required="required" />
		<button type="submit" class="btn btn-primary btn-block btn-large">Analyze</button>
		</form>

    

</html>